parameters:
    paths:
        - app
        - database
        - tests
    ignoreErrors:
        - '#Cannot call method [a-zA-Z]+\(\) on Illuminate\\Testing\\PendingCommand\|int#'

    level: 8

    checkModelProperties: true
